<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table  cellspacing="0"
    cellpadding="0"
    border="1px solid"
    style="font-size: 14px;">
        <colgroup>
        <col width="100px"></col>
        <col width="100px"></col>
        <col width="100px"></col>
        <col width="100px"></col>
        <col width="100px"></col>
        <col width="100px"></col>
        <col width="100px"></col>
        </colgroup>
        <!-- 一级表头 -->
        <tr >
            <th rowspan="2" height="44px">订单</th>
            <th rowspan="2" height="44px">客户</th>
            <th colspan="2" height="22px">数量</th>
            <th colspan="3" height="22px">发货量</th>
        </tr>
        <!-- 二级 -->
        <tr height="22px">
            <th>1</th>
            <th>2</th>
            <th>2</th>
            <th>2</th>
            <th>2</th>
        </tr>
        <tr>
            <td>1</td>
            <td>aaa</td>
            <td>2</td>
            <td>77</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>2</td>
            <td>aaa</td>
            <td>3</td>
            <td>88</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>3</td>
            <td>aaa</td>
            <td>4</td>
            <td>99</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </table>
</body>
</html>